@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* text:
- lg (1.125rem, 18px) — searchbar, lg table text
- base (1rem, 16px)
- sm (14px) - кнопки и триггеры
- xs (12px) - small badges
*/

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --accent: hsl(286, 98%, 74%);
  --accent-foreground: hsl(240 10% 3.9%);
  --secondary: hsl(212, 93%, 47%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240, 2%, 66%);
  --primary-foreground: hsl(240, 5%, 96%);
  --primary: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 10%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 5.9% 10%);
  --radius: 0rem;
  --sb-shadow: 0px 4px 0px 1px hsl(240 10% 3.9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground font-[Golos_Text] shadow-none box-border;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .w-main {
    width: min(98%, 80rem);
    margin-inline: auto;
  }

  .bordered {
    @apply border-3 md:rounded-[5.6rem] rounded-4xl overflow-hidden bg-background;
  }

  .circle-chip-icon {
    /* @apply; */
  }

  .h2 {
    /* @apply; */
  }

  .oval-btn-icon {
    @apply border-2 border-primary rounded-3xl text-sm text-foreground hover:text-foreground inline-flex gap-2;
  }

  .table-toggle {
    @apply data-[state=on]:bg-accent bg-background hover:bg-muted;
  }

  .sm-badge {
    /*  */
  }

  .sb-flex-horizontal {
    @apply w-full flex flex-col md:flex-row md:items-center md:text-lg grow;
  }

  .popover-borders {
    @apply border-3 border-t-0 rounded-b-2xl;
  }

  .h-transition {
    transition: max-height 0.4s linear, min-height 0.4s linear;
  }
}
