@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsla(205, 95%, 92%, 0.497);
  --foreground: hsl(205, 84%, 22%);
  --accent: hsl(349, 84%, 60%);
  --accent-foreground: hsl(205, 84%, 22%);
  --secondary: hsl(212, 69%, 65%);
  --secondary-foreground: hsl(60, 100%, 100%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsla(205, 84%, 22%, 0.523);
  --primary-foreground: hsl(60, 100%, 100%);
  --primary: hsl(205, 84%, 22%);
  --radius: 0rem;
  --sb-shadow: 2px 4px 0px 1px var(--foreground);
  --row-shadow: 2px 2px 0px 1px var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--primary-foreground);
  --color-popover-foreground: var(--primary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--foreground);
  --color-input: var(--primary-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground font-[Unbounded] font-normal shadow-none box-border text-base border-(--color-border) bg-[url(@/assets/Dot.svg)] bg-center bg-repeat;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .page-flex {
    @apply flex flex-col md:gap-20 gap-35 justify-center;
  }

  .w-main {
    @apply w-[min(96%,80rem)] mx-auto;
  }

  .w-narrow {
    @apply w-[min(96%,68rem)] mx-auto;
  }

  .oval-btn-icon {
    @apply border-2 rounded-3xl text-xs font-normal text-foreground hover:text-foreground inline-flex gap-2 bg-primary-foreground border-(--color-border);
  }

  .badge {
    @apply rounded-3xl;
  }

  .table-toggle {
    @apply data-[state=on]:bg-accent;
  }

  .popover-borders {
    @apply border-3 rounded-2xl border-(--color-border);
  }

  .h-transition {
    transition: max-height 0.4s linear, min-height 0.4s linear,
      visibility 0.4s linear;
  }

  .table-row-base {
    @apply border-3 rounded-[20px] md:py-5 py-3 md:px-6 px-4 shadow-(--row-shadow) bg-primary-foreground;
  }

  .home-grid {
    @apply grid-cols-[repeat(auto-fit,minmax(290px,1fr))];
  }

  .results-grid {
    @apply md:grid md:grid-cols-[1.5fr_200px_2fr_3fr_1fr] grid grid-cols-[2fr_2fr_2fr];
  }

  .schedule-grid {
    @apply grid md:grid-cols-[minmax(0,_2.5fr)_1fr_1fr_1.5fr_1fr] grid-cols-[2fr_1fr] gap-y-2 md:gap-y-0;
  }

  .thread-grid {
    @apply grid md:grid-cols-[minmax(0,_3fr)_1fr_1fr_1fr] grid-cols-[2fr_1fr_1fr] items-center justify-center;
  }

  .table-body {
    @apply flex flex-col gap-4 mt-2 pb-2;
  }

  .table-base-text {
    @apply md:text-base text-sm;
  }

  .table-headers {
    @apply md:text-base text-xs text-center;
  }

  .page-head-container {
    @apply flex gap-3 items-start md:mb-8 mb-5 mt-40 md:mt-20;
  }

  .error-icon {
    @apply md:size-20 size-10 text-foreground mb-1 stroke-1;
  }

  .search-skeleton {
    @apply h-12 w-full rounded-2xl bg-secondary/60;
  }

  .suggestion-links {
    @apply border-b-1 p-0 border-dashed hover:bg-transparent font-normal mr-2 hover:text-accent text-left;
  }

  .section-header {
    @apply md:text-3xl text-2xl font-medium mb-1.5;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--foreground);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

#home-img #train,
#home-img #tick {
  transition: all ease-in-out 200ms;
}

#home-img:hover #train {
  transform: translateX(2rem) translateY(0.25rem) scale(1.1);
  transition: all linear 200ms;
}

#home-img:hover #tick {
  transform: translateX(-1.25rem) translateY(-1rem) rotate(-5deg);
  transition: all ease-in-out 200ms;
}

footer::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  width: 100%;
  height: 1.5rem;
  background: url("@/assets/Zigzag.svg") top left repeat-x;
}
