@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0, 0%, 96%);
  --foreground: hsl(0 0% 3.9%);
  --accent: hsl(39, 21%, 87%);
  --destructive: hsl(20, 92%, 50%);
  --destructive-foreground: hsl(0 0% 3.9%);
  --accent-foreground: hsl(0 0% 3.9%);
  --secondary: hsl(61, 89%, 78%);
  --secondary-foreground: hsl(0 0% 3.9%);
  --muted: hsl(24 5.7% 82.9%);
  --muted-foreground: rgb(59, 56, 55);
  --primary-foreground: hsl(0 0% 3.9%);
  --primary: hsl(39, 21%, 87%);
  --radius: 0rem;
  --sb-shadow: 0px 2px 0px 1px var(--foreground);
  --row-shadow: 2px 2px 0px 1px var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--background);
  --color-popover-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--foreground);
  --color-input: var(--primary-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-base: "Jost", "sans-serif";
  --font-headers: "Unbounded", "sans-serif";
  --text-slogan: clamp(1.5rem, 6vw, 3.75rem);
}

@layer base {
  body {
    @apply bg-background text-foreground font-base font-normal shadow-none box-border text-base border-(--color-border);
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .page-flex {
    @apply flex flex-col justify-center gap-35 md:gap-20;
  }

  .w-main {
    @apply mx-auto w-[min(96%,90rem)];
  }

  .w-narrow {
    @apply mx-auto w-[min(96%,68rem)];
  }

  .oval-btn-icon {
    @apply border-2 rounded-3xl text-sm font-medium text-foreground hover:text-foreground inline-flex gap-2  border-(--color-border) items-center bg-primary;
  }

  .badge {
    @apply inline-flex items-center px-2.5 border rounded-3xl;
  }

  .table-toggle {
    @apply bg-primary data-[state=on]:bg-destructive;
  }

  .popover-borders {
    @apply border-3 rounded-2xl border-(--color-border);
  }

  .h-transition {
    transition:
      max-height 0.4s linear,
      min-height 0.4s linear,
      visibility 0.4s linear;
  }

  .table-row-base {
    @apply border-3 rounded-[20px] md:py-5 py-3 md:px-6 px-4 shadow-(--row-shadow) bg-primary;
  }

  .autocomplete-input {
    @apply bg-primary px-2.5 pl-3.5 border-3 shadow-(--sb-shadow) rounded-3xl outline-0 md:h-14 h-12 text-secondary-foreground lg:text-sm text-xs placeholder:text-foreground focus-visible:outline-2 focus-visible:outline-muted/80 font-headers md:pl-6 focus-visible:placeholder:text-muted-foreground/40;
  }

  .home-grid {
    @apply grid-cols-[repeat(auto-fit,minmax(290px,1fr))];
  }

  .results-grid {
    @apply gap-2 lg:gap-0 grid grid-cols-[2fr_2fr_2fr] lg:grid-cols-[4fr_2fr_1fr_2fr_1fr];
  }

  .schedule-grid {
    @apply gap-2 lg:gap-4 grid grid-cols-1 md:grid-cols-[minmax(0,2.5fr)_1fr_1fr_1fr] lg:grid-cols-[minmax(0,2.5fr)_1fr_1fr_1.5fr_1fr];
  }

  .thread-grid {
    @apply justify-center items-center grid grid-cols-[2fr_1fr_1fr] md:grid-cols-[minmax(0,3fr)_1fr_1fr_1fr];
  }

  .table-body {
    @apply flex flex-col gap-4 mt-2 pb-2;
  }

  .table-base-text {
    @apply text-base md:text-lg;
  }

  .table-headers {
    @apply text-xs md:text-base text-center;
  }

  .page-head-container {
    @apply flex items-start gap-3 mt-40 md:mt-20 mb-5 md:mb-8;
  }

  .error-icon {
    @apply stroke-1 mb-1 size-10 md:size-20 text-foreground;
  }

  .search-skeleton {
    @apply h-12 w-full rounded-2xl bg-secondary/60;
  }

  .suggestion-links {
    @apply hover:bg-transparent mr-2 p-0 border-b border-dashed font-normal hover:text-destructive text-left;
  }

  .section-header {
    @apply mb-1.5 font-medium text-xl md:text-2xl lg:text-3xl;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--foreground);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

#home-img #train,
#home-img #tick {
  transition: all ease-in-out 200ms;
}

#home-img:hover #train {
  transform: translateX(2rem) translateY(0.25rem) scale(1.1);
  transition: all linear 200ms;
}

#home-img:hover #tick {
  transform: translateX(-1.25rem) translateY(-1rem) rotate(-5deg);
  transition: all ease-in-out 200ms;
}

footer::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  width: 100%;
  height: 1.7rem;
  background: url("@/assets/Zigzag.svg") top left repeat-x;
}
