@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* text:
- lg (1.125rem, 18px) — searchbar, lg table text
- base (1rem, 16px)
- sm (14px) - кнопки и триггеры
- xs (12px) - small badges
*/

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --accent: hsl(286, 98%, 74%);
  --accent-foreground: hsl(240 10% 3.9%);
  --secondary: hsl(212, 93%, 47%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240, 2%, 66%);
  --primary-foreground: hsl(240, 5%, 96%);
  --primary: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 10%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 5.9% 10%);
  --radius: 0rem;
  --sb-shadow: 2px 4px 0px 1px hsl(240 10% 3.9%);
  --row-shadow: 2px 2px 0px 1px hsl(240 10% 3.9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground font-[Golos_Text] shadow-none box-border text-base;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .page-flex {
    @apply flex flex-col md:gap-20 gap-35 justify-center;
  }

  .page-header {
    @apply flex flex-wrap gap-2 items-baseline md:mb-10 mb-5 mt-30 md:mt-20;
  }

  .w-main {
    width: min(98%, 80rem);
    margin-inline: auto;
  }

  .w-narrow {
    width: min(98%, 68rem);
    margin-inline: auto;
  }

  .bordered {
    @apply border-3 md:rounded-[5.6rem] rounded-4xl overflow-hidden bg-background;
  }

  .oval-btn-icon {
    @apply border-2 border-primary rounded-3xl text-sm text-foreground hover:text-foreground inline-flex gap-2;
  }

  .badge {
    @apply rounded-3xl;
  }

  .table-toggle {
    @apply data-[state=on]:bg-accent bg-background hover:bg-muted;
  }

  .sb-flex-horizontal {
    @apply w-full flex flex-col md:flex-row md:items-center md:text-lg grow;
  }

  .popover-borders {
    @apply border-3 rounded-2xl;
  }

  .h-transition {
    transition: max-height 0.4s linear, min-height 0.4s linear;
  }

  .table-row-base {
    @apply border-3 rounded-3xl py-5 px-6 shadow-(--row-shadow) md:items-center;
  }

  .results-grid {
    @apply md:grid md:grid-cols-[minmax(0,_1.5fr)_200px_2fr_3fr_1fr] grid grid-cols-3;
  }

  .schedule-grid {
    @apply grid md:grid-cols-[minmax(0,_2.5fr)_1fr_1fr__1fr_1.5fr_1fr] grid-cols-3 gap-y-3 md:gap-y-0;
  }

  .thread-grid {
    @apply grid md:grid-cols-[minmax(0,_3fr)_1fr_1fr_1fr] grid-cols-3 items-center justify-center;
  }

  .table-body {
    @apply flex flex-col gap-4 mt-2;
  }

  .table-base-text {
    @apply md:text-base text-sm;
  }

  .table-headers {
    @apply md:text-base text-sm text-center;
  }

  .page-head-container {
    @apply flex gap-3 items-start md:mb-8 mb-5 mt-30 md:mt-20;
  }

  .error-icon {
    @apply md:size-20 size-10 text-foreground mb-1 stroke-1;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 50px;
    height: 28px;
    --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
    background: var(--_g) 50% 0, var(--_g) 100% 0;
    background-size: 12px 12px;
    position: relative;
    animation: l23-0 1.5s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    left: 0;
    top: 0;
    animation: l23-1 1.5s linear infinite,
      l23-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
  }
  @keyframes l23-0 {
    0%,
    31% {
      background-position: 50% 0, 100% 0;
    }
    33% {
      background-position: 50% 100%, 100% 0;
    }
    43%,
    64% {
      background-position: 50% 0, 100% 0;
    }
    66% {
      background-position: 50% 0, 100% 100%;
    }
    79% {
      background-position: 50% 0, 100% 0;
    }
    100% {
      transform: translateX(calc(-100% / 3));
    }
  }
  @keyframes l23-1 {
    100% {
      left: calc(100% + 7px);
    }
  }
  @keyframes l23-2 {
    100% {
      top: -0.1px;
    }
  }
}
