.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--foreground);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

.fade-up {
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fade-left {
  opacity: 0;
  transform: translateX(24px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fade-right {
  opacity: 0;
  transform: translateX(-24px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fade-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-left.is-visible,
.fade-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear forwards;
}

.row-fade-in {
  opacity: 0;
  transform: translateY(24px);
  animation: row-in 0.8s ease forwards;
}

@keyframes row-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

footer::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  width: 100%;
  height: 1.7rem;
  background: url("@/assets/Zigzag.svg") top left repeat-x;
}
